body{
    background-color: aqua;
    margin: auto;
}
#container{
    border: 1px solid #000000;
    background-color: burlywood;
    height: 1366px;
    position: relative;
    margin: 0px 10px 10px 10px;
}
.search_form{
    position: absolute;
    padding: 4px;
    padding-top: 0px;
    margin: 5px;
    margin-top: 0px;
    top: 40px;
    left: 10%;
    right: 10%;
}
.search_form label{
    font-size: 24px;
}
.search_form input{
    height: 24px;
    
}
#txt_search{
    width: 300px;
}


.nav_bar {
    height: 75px;
}
.nav_bar ul li{
   position: relative;
    list-style: none;
    border: 1px solid #000000;
    border-bottom: none;
    display: inline;
    margin: 0px;
    padding: 10px;
    top: 50px;
}
.nav_bar a{
    text-decoration: none;
}

#new_elm{
    position: absolute;
    top: 90px;
    left: 10%;
    right: 10%;
    margin: 0px;
    padding: 10px;
    resize: inherit;
}

#form_view{
    position: absolute;
    
    left: 10%;
    right: 10%;
    display: inline;
    margin: 0px;
    padding: 10px;

}
#btn_save{
    position: absolute;
    left: 85%;
    right: 15%;
    top: 400px;
    height: 50px;
    width: 130px;
    

}
#form_builder{
    visibility: hidden;
}
#form_render{
    position: absolute;
    top: 100px;
    left: 10%;
    right: 10%;
    display: inline;
    margin: 0px;
    padding: 10px;
}